@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}

    .menu-main li {
        display: inline-block;
    }

        .menu-main li:after {
            content: "|";
            color: #606060;
            display: inline-block;
            vertical-align: top;
        }

        .menu-main li:last-child:after {
            content: none;
        }

    .menu-main a {
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 20px;
        margin: 0 34px 0 30px;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .2s;
    }

        .menu-main a, .menu-main a:visited {
            color: #9d999d;
        }

            .menu-main a.current, .menu-main a:hover {
                color: #feb386;
            }

            .menu-main a:before,
            .menu-main a:after {
                content: "";
                position: absolute;
                height: 4px;
                top: auto;
                right: 50%;
                bottom: -5px;
                left: 50%;
                background: #feb386;
                transition: .8s;
            }

            .menu-main a:hover:before, .menu-main .current:before {
                left: 0;
            }

            .menu-main a:hover:after, .menu-main .current:after {
                right: 0;
            }

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

        .menu-main li {
            display: block;
        }

            .menu-main li:after {
                content: none;
            }

        .menu-main a {
            padding: 25px 0 20px;
            margin: 0 30px;
        }
}

. my h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 16px;
}
    .Grid{
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    border-collapse: separate;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    align-content:center;
}

    .Grid th {
        font-weight: bold;
        padding: 21px 25px 22px 25px;
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #e0e0e0;
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
        background: -moz-linear-gradient(top, #ededed, #ebebeb);
    }

        .Grid th:first-child {
            text-align: left;
            padding-left: 20px;
        }

    .Grid tr:first-child th:first-child {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .Grid tr:first-child th:last-child {
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .Grid tr {
        text-align: center;
        padding-left: 20px;
    }

        .Grid tr td:first-child {
            text-align: left;
            padding-left: 20px;
            border-left: 0;
        }

        .Grid tr td {
            padding: 18px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
        }

        .Grid tr:nth-child(even) td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
        }

        .Grid tr:last-child td {
            border-bottom: 0;
        }

            .Grid tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            .Grid tr:last-child td:last-child {
                -moz-border-radius-bottomright: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

        .Grid tr:hover td {
            background: #f2f2f2;
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
            text-align: center;
        }

    .Grid a:link {
        color: #666;
        font-weight: bold;
        text-decoration: none;
    }

    .Grid a:visited {
        color: #999999;
        font-weight: bold;
        text-decoration: none;
    }

    .Grid a:active,
    .Grid a:hover {
        color: #bd5a35;
        text-decoration: underline;
    }